.MenuLateral {
    padding: 1rem;
    color: var(--corPrincipal);
    background-color: #FFF;
    box-shadow: 2px 2px 8px rgba(34, 34, 34, 0.1);
    position: relative;
}

.MenuLateral h1, h2 {
    font-size: 1rem;
    font-weight: normal;
}

.MenuLateral div {
    padding: 1rem 0;
}

.MenuLateral .acessibilidade {
    border-top: 1px solid;
}