.Navegacao ul {
    padding-left: 1rem;
    color: #555;
}

.Navegacao li {
    margin-top: 0.5rem;
}

.Navegacao a {
    padding: 0.2rem;
    display: block;
    outline: none;
}

.Navegacao a:hover, .Navegacao .ativo, .Navegacao a:focus {
    color: var(--corPrincipal);
}

.Navegacao a:focus {
    text-decoration: underline;
}

@media (max-width: 730px) {
    .Navegacao ul {
        padding-left: 0;
    }

    .Navegacao a {
        padding: 0.5rem;
    }
}