/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

body {
    font-family: sans-serif;
    color: #555;
    background-color: #FAFAFA;
    --corPrincipal: #309ADB;
    --corSecundaria: #52BDFF;
}

/* Temas */
body.temaRoxo {
    --corPrincipal: #8E4DFF;
    --corSecundaria: #7B32FA;
}

body.temaEscuro {
    --corPrincipal: #024;
    --corSecundaria: #06A;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

p, a, ul, li, small, textarea {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Estilos Gerais*/
.App {
    display: grid;
    grid-template-columns: auto 1fr;
}

.App aside {
    grid-column: 1;
    grid-row: 1 / 3;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
